.badge{

    display:inline-flex;

    align-items:center;

    justify-content:center;

    padding:6px 14px;

    border-radius:50px;

    font-size:13px;

    font-weight:600;

}

/* ===================== */

.badge-primary{

    background:#E0E7FF;

    color:var(--primary);

}

/* ===================== */

.badge-success{

    background:#DCFCE7;

    color:#166534;

}

/* ===================== */

.badge-danger{

    background:#FEE2E2;

    color:#991B1B;

}

/* ===================== */

.badge-warning{

    background:#FEF3C7;

    color:#92400E;

}