.task-filters{
    display:flex;
    gap:16px;
    margin-top:20px;
    margin-bottom:24px;
}

.task-filters select{

    padding:12px 16px;

    border:1px solid #d1d5db;

    border-radius:12px;

    background:#fff;

    outline:none;

    cursor:pointer;

    min-width:180px;

    font-size:.95rem;
}

.task-filters select:focus{

    border-color:#4f46e5;

    box-shadow:0 0 0 4px rgba(79,70,229,.10);

}

@media(max-width:768px){

    .task-filters{

        flex-direction:column;

    }

}