@import "./variables.css";
@import "./reset.css";
@import "./typography.css";

body{

    background:var(--background);

    color:var(--text-primary);

}

a{

    text-decoration:none;

    color:inherit;

}

button{

    font-family:inherit;

}

input{

    font-family:inherit;

}