.loader-container{

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    gap:16px;

    padding:40px;

}

.spinner{

    width:48px;

    height:48px;

    border:5px solid #E2E8F0;

    border-top:5px solid var(--primary);

    border-radius:50%;

    animation:spin 1s linear infinite;

}

.loader-container p{

    color:var(--text-secondary);

    font-size:15px;

    font-weight:500;

}

@keyframes spin{

    from{

        transform:rotate(0deg);

    }

    to{

        transform:rotate(360deg);

    }

}